.footer {
  max-width: 1120px;
  margin: 100px auto;
  padding: 0 20px;
  text-align: center;
}

.footer > div > a:first-child {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.footer > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 30px auto;
  padding: 0;
  gap: 8px;
}

.footer p {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 40px auto;
}
