.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  & > .form__control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & > .form__label {
      font-size: 14px;
      color: #334155;
    }
  }
}

.form__error {
  background-color: var(--error-color);
  font-size: 14px;
  color: white;
  padding: 12px 8px;
  border-radius: 2px;
}

.warning_status {
  background-color: var(--warning-color, #fb923c);
  padding: 8px;
  border-radius: 2px;
  font-weight: 300;
}

.warning_status > p {
  color: white;
}
