.auth {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.auth__separator {
  border: 1px solid #d0d5dd;
  border-radius: 12px;
  margin: 1rem 0;
}
