.main {
  margin: 5rem auto;
  padding: 0 1rem;
}

.main:last-child {
  margin-bottom: 0;
}

.main__header {
  text-align: center;
}

.main__section {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .main {
    max-width: 400px;
  }
  .main__footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
