.main {
  height: 100svh;
}

.section {
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.section > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.section > div > div:nth-child(2) > p {
  margin-top: 15px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .section {
    grid-template-columns: 1fr 2fr;
  }
}

.collections {
  margin-top: 40px;
}

.collections__grid {
  display: grid !important;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 3rem;
  }
  .collections {
    margin-top: 0px;
  }
  .collections__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
