.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.15s ease-in-out;
    border: 1px solid transparent;
    outline: none;
}

.primary {
    background: var(--primary);
    color: white;
}

.primary:hover {
    background-color: var(--primary-hover);
}

.primary:focus {
    box-shadow: var(--primary-shadow);
}

.secondary {
    background-color: var(--secondary);
    color: #344054;
    border: 1px solid var(--gray-300, #D0D5DD);
}

.secondary:hover {
    background-color: var(--secondary-hover);
}

.secondary:focus {
    box-shadow: var(--secondary-shadow);
}
