
.main {
    max-width: 1120px;
    margin: 0 auto;
    padding: 1rem;
}

.main > section {
    margin: 1rem 0;
}

.main > section > div {
    margin-bottom: 30px;
}

.main > section > div > ul {
    margin-top: 20px;
}

.main > section > div > ul > li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.main > section > div > ul > li > strong {
    font-weight: 500;
}