.badge {
  display: inline-block;
  padding: 4px 7px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.primary {
  border: 1px solid #abefc6;
  background: #ecfdf3;
}

.secondary {
  border: 1px solid #fedf89;
  background: #fffaeb;
}
