/* Styles de base boutons-liens */
.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.button-link:focus {
  outline: none;
  background-color: #404040;
}

/* Styles primary */
.primary {
  background: var(--primary);
  color: white;
}

.primary:hover {
  background-color: var(--primary-hover);
}

/* Styles secondary */
.secondary {
  background: #fff;
  color: #121212;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: none;
}

.secondary:hover{
  background-color: #f6f5f4;
}

.secondary:focus {
  background-color: #f6f5f4;
}

/* Styles medium */
.medium {
  height: 36px;
  padding: 0.25rem 0.875rem;
  font-size: 1rem;
  line-height: 1.4375;
  letter-spacing: 0.0005em;
  font-weight: 570;
}

/* Styles small */
.small {
  height: 30px;
  padding: var(--padding-btn-s);
  font-size: 0.84375rem;
  font-weight: 500;
  letter-spacing: 0.0035em;
  line-height: 1.4074074074074074;
}
